name: Update submodule

on:
  repository_dispatch:
    types: update

jobs:
  update_submodule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PA_TOKEN }}
          submodules: true
      - name: Update submodule
        run: |
          git submodule update --init --recursive --checkout -f --remote -- "${{github.event.client_payload.module}}"
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git commit -am "ci: ${{github.event.client_payload.module}} - ${{github.event.client_payload.sha}}"
      - name: Push changes
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa
        with:
          github_token: ${{ secrets.PA_TOKEN }}
          branch: ${{ github.ref }}
